<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awsURL</key>
	<string>52.34.110.32</string>
	<key>port</key>
	<string>8100</string>
	<key>APIKey</key>
	<string>e47277972a8f4b1f</string>
</dict>
</plist>
